@import 'variables';
.landing {
    padding-top: 105px;
    height: 100vh;
    position: relative;
    .container {
        position: relative;
        min-height: auto;
    }
    .text-container {
        h2 {
            font-size: 40px;
            font-family: $primary-font-regular;
            color:#efddba;
            text-transform: uppercase; 
            letter-spacing: .1em;
            line-height: 1.15;
        }
        p {
            margin-top: 13px;
            font-family: $secondary-font-regular;
            max-width: 300px;
            color: #cbaa64;
            font-size: 12px;
            letter-spacing: .08em;
            line-height: 1.4;
        }
    }
    .video-container {
        .gradient {
            background: linear-gradient(90deg, transparent , rgba(13, 35, 169, 0.1) 69%);            width: 592px;
            height: 455px;
            position: absolute;
            bottom: 0;
            right: 80px;
        }
        .champ-desc{
            position: absolute;
            bottom: 470px;
            right: 0;
            text-align: right;
            h4{
                color: #c9aa71;
                letter-spacing: 0.1em;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 0.3;
            }
            .tag{
                font-size: 12px;
                margin-right: 16px
            }
        }
    }
    .box-info {
        .text{
            position: relative;
            z-index: 2;
        }
    }
}