<!-- <div *ngIf="{slide.id.length != 0}" > -->
  <!-- <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{slide.id}}_0.jpg" alt=""> -->
<!-- </div> -->
<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides;let i = index" class="slide">
      <img  (click)="pickChamp(i)" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{slide.id}}_0.jpg" alt="" width="100%">
  </div>
</ngx-slick-carousel>

<button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(50)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button>